body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 200px;
  }
  
  button {
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #weatherResult {
    margin-top: 20px;
  }
  